@media only screen and (min-width:320px) and (max-width:992px) {
  header {
    padding: 5px 0px;
    height: auto;
  }
   /* .res-show {
    display: block !important;
  } */
  .res-hide{
    display: none !important;
  } 
  .IoMenu{
    display: block !important;
  }

  header .part-1,
  header .part-3 {
    padding: 0px !important;
  }

  header .part-1 {
    max-width: 40% !important;
    flex: 0 0 40% !important;
  }

  header .logo img {
    width: 35px !important;
  }

  header .logo span {
    font-size: 18px;
  }

  header .part-3 {
    max-width: 60% !important;
    flex: 0 0 60% !important;
  }

}

@media only screen and (min-width:320px) and (max-width:575px) {
  header .row {
    margin: auto !important;
  }
  .res-hide{
    display: none !important;
  }

  header button.rounded-circle {
    width: 35px !important;
    height: 35px !important;
    min-width: 35px !important;
    margin-right: 8px !important;
  }

  header button {
    font-size: 12 !important;
    padding: 5px 10px !important;
  }

  header .userImg {
    width: 30px !important;
    height: 30px !important;
    min-width: 30px !important
  }

  header .userImg img {
    width: 20px !important;
    height: 20px !important;
  }

  header .userInfo {
    width: 30px !important;
    height: 30px !important;
    min-width: 30px !important;
  }

  header .userInfo h4 {
    font-size: 8px !important;
  }

  header .userInfo p {
    font-size: 7px !important;
  }

  #messages .MuiPaper-elevation {
    right: 100px !important;
    left: auto !important;
    top: 61px !important;
    width: 235px !important;
  }

  .head h4 {
    font-size: 16px !important;
  }

  .scrollInfo .userImg {
    width: 30px !important;
    height: 30px !important;
    min-width: 30px !important;
  }

  .dropdownInfo h4 {
    font-size: 10px !important;
  }

  .dropdownInfo p {
    font-size: 9px;
  }

  .scrollInfo .userImg .rounded-circle img {
    width: 20px !important;
    height: 20px !important;
    min-width: 20px !important;
    opacity: 0.3;
  }

  #notifications .MuiPaper-elevation {
    right: 55px !important;
    width: 235px !important;
  }

  #notifications .scrollInfo {
    max-height: 250px !important;
  }

  #messages .scrollInfo {
    max-height: 250px !important;
    overflow-y: scroll;
  }

  .hide-name-id {
    display: none;
  }

  .myAccWrapper button {
    padding: 0px !important;
    min-width: 35px !important;
    width: 35px;
  }

  .userImg .rounded-circle {
    width: 80%;
    height: 80%;
  }

}