.main .sidebarWrapper{
    width: 20%;
    flex: 0 0 20%;
    transition: all 0.3s 
}

.main .sidebarWrapper.toggle {
    width: 0%;
    flex: 0 0 0%;
}
.main .content {
    width: 80%;
    flex: 0 0 80%;
    transition: all 0.3s;
}
.main .content.toggle {
    width: 100%;
    flex: 0 0 100%;
}

@media only screen and (min-width:320px) and (max-width:992px) {
    .sidebaarOverlay{
        position: fixed;
        top: 0px;
        left: 0px;
        background-color: rgba(0,0,0,0.7);
        z-index: 1000;
        width: 100% !important;
        height: 100% !important;
    }

}

